#!/usr/bin/env bash

if has nix; then
    # If nix is installed hook into it.
    use flake
fi

# If nu is the current shell use toolkit.nu
if [ $(echo $SHELL) == $(which nu) ]; then
    nu -e "use toolkit.nu"
fi
