[package]
name = "nufmt"
version = "0.1.0"
edition = "2018"
authors = ["The NuShell Contributors"]
license = "MIT"
description = "Formats nushell extremely fast"
homepage = "https://github.com/nushell/nufmt"
repository = "https://github.com/nushell/nufmt"
readme = "README.md"
keywords = ["nu", "nushell", "formatting", "cli"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.0", optional = true, features = ["unicode", "derive"] }
colored = "2"
env_logger = "0.10.0"
ignore = "0.4"
log = "0.4.17"
nu-cmd-lang = "0.99.0"
nu-parser = "0.99.0"
nu-protocol = "0.99.0"
rayon = "1.10"

[dev-dependencies]
criterion = "0.5.1"

[features]
default = ["bin"]
bin = ["clap"]

[lib]
name = "nu_formatter"
path = "src/lib.rs"

[[bin]]
name = "nufmt"
path = "src/main.rs"
required-features = ["bin"]

[[bench]]
name = "file-format-bench"
harness = false
